{% extends "base.html" %}
{% load static %}

{% block title %} Instrument Status {% endblock %}
{% block banner %} Instrument Status {% endblock %}

{% block header %}
<script language="javascript" type="text/javascript" src="/static/live_update.js"></script>
<script language="javascript" type="text/javascript" src="/static/thirdparty/d3.v3/d3.v3.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/bar_chart.js"></script>
<link rel="stylesheet" media="all" href="/static/bar_chart.css" />

<script>
  var instrument_rates = {
  {% for item, value in data.items %}
    {{ item }}: { run_rate: {{ value.run_rate|safe }}, error_rate: {{ value.error_rate|safe }} },{% endfor %}
  };
  function plot_rates() {
    {% for item in instruments %}
    plot_combined_rates(instrument_rates.{{ item.name|lower }}.run_rate, instrument_rates.{{ item.name|lower }}.error_rate, "runs_per_hour_{{ item.name|lower }}", "summary");{% endfor %}
  }
  function poll() {
    $.ajax({ url: "{{ update_url }}", success: function(data) {
        content = "<li class='status_"+data.postprocess_status.workflow+"' id='workflow_status'>Workflow</li>";
        $('#workflow_status').replaceWith(content);

        for (var i=0; i<data.instruments.length; i++)
        {
           global_system_status_update(data, i);
           var content = "<li class='status_"+data.instruments[i].completeness+"' id='"+data.instruments[i].name+"_completeness'>"+data.instruments[i].completeness_msg+"</td>";
           $('#'+data.instruments[i].name+'_completeness').replaceWith(content);
        }
        {% for item in data %}
        instrument_rates.{{ item|lower }} = data.instrument_rates.{{ item|lower }};{% endfor %}
        plot_rates();
    }, dataType: "json", timeout: 30000, cache: true,
        statusCode: { 401: function() { new_alert("Your session expired. Please log in again"); show_alert(); }}});
  };
</script>
{% endblock %}

{% block bodytop %}
<script id="source" language="javascript" type="text/javascript">
    setInterval(poll, 20000);
</script>
{% endblock %}

{% block right_side_links %}
    <span style="float:right">
    <a href="{% url 'dasmon:dashboard' %}">dashboard</a> | <b>extended dashboard</b> | <a href="{% url 'dasmon:run_summary' %}">latest runs</a>
    </span>
{% endblock %}

{% block summary %}
<div class='status_box'>
<div class='diagnostics'>
  <a href='{{ central_services_url|safe }}'>
    <ul>
      <li class='status_text'>Central systems:</li>
      <li class='status_{{ postprocess_status.workflow }}' id='workflow_status'>Workflow</li>
    </ul>
  </a>
</div>
</div>

<p>
List of instruments:<br>

  <table class="dashboard_table">
    <!-- Left column of instruments -->
    <td><table class="dashboard_table">
        <!-- Column headers -->
        <thead><tr><th style="min-width:75px">Instrument</th> <th>Status</th> <th>Processing</th></tr></thead>
        <!-- Loop over each instrument producing one row -->
        <tbody class='status_box'>
        {% for item in instruments_left %}
            <tr>
                <td><a href='{{ item.url|safe }}'>{{ item.name|upper }}</a></td>
                <td><span id='{{ item.name }}_recording_status'>{{ item.recording_status }}</span></td>
                <td><div id="runs_per_hour_{{ item.name|lower }}" class="dashboard_plots"></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table></td>

    <!-- Insert some space between left and right columns of instruments -->
    <td style="min-width:75px"></td>

    <!-- Right column of instruments -->
    <td><table class="dashboard_table">
        <!-- Column headers -->
        <thead><tr><th style="min-width:75px">Instrument</th> <th>Status</th> <th>Processing</th></tr></thead>
        <!-- Loop over each instrument producing one row -->
        <tbody class='status_box'>
        {% for item in instruments_right %}
            <tr>
                <td><a href='{{ item.url|safe }}'>{{ item.name|upper }}</a></td>
                <td><span id='{{ item.name }}_recording_status'>{{ item.recording_status }}</span></td>
                <td><div id="runs_per_hour_{{ item.name|lower }}" class="dashboard_plots"></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table></td>
  </table>

  <script id="source" language="javascript" type="text/javascript">plot_rates();</script>
  {% endblock %}
{% block nocontent %}{% endblock %}
