{% extends "report/base_instrument.html" %}

{% block title %}{{ instrument }} Diagnostics {% endblock %}

{% block banner %}{{ instrument }} Diagnostics {% endblock %}

{% block summary %}
<div class='status_bar'>
<div class='status_box'>
<ul>
<li class='status_text'>Systems:</li>
<li class='status_{{ das_status.workflow }}' id='workflow_status'>Workflow</li>
<li class='status_{{ das_status.dasmon }}' id='dasmon_status'>DASMON</li>
<li class='status_{{ das_status.pvstreamer }}' id='pvstreamer_status'>PVSD</li>
</ul>
</div>
</div>

{% if is_adara %}
{% if action_messages %}
<p>
The following items should be considered while interpreting the diagnostics below:
<ul>
{% for item in action_messages %}
<li>{{ item|safe }}</li>
{% endfor %}
</ul>
</p>
{% endif %}

<p>
<b>DASMON diagnostics:</b>
<div style="margin-left:20px">
<table>
  <tbody>
    <tr><td>Last status: </td><td>{{dasmon_diagnostics.status}}</td></tr>
    <tr><td>Last status update: </td><td>{{dasmon_diagnostics.status_time}}</td></tr>
    <tr><td>Last PV update: </td><td>{{dasmon_diagnostics.pv_time}}</td></tr>
    <tr><td>Last AMQ update: </td><td>{{dasmon_diagnostics.amq_time}}</td></tr>
  </tbody>
</table>
<p>

{% if dasmon_diagnostics.conditions %}
Reported conditions:<br>
<ul>
{% for item in dasmon_diagnostics.conditions %}<li>{{ item|safe }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

{% if pv_diagnostics %}
<p>
<b>PVSD diagnostics:</b>
<div style="margin-left:20px">
<table>
  <tbody>
    <tr><td>Last status: </td><td>{{pv_diagnostics.status}}</td></tr>
    <tr><td>Last status update: </td><td>{{pv_diagnostics.status_time}}</td></tr>
  </tbody>
</table>
<p>

{% if pv_diagnostics.conditions %}
Reported conditions:<br>
<ul>
{% for item in pv_diagnostics.conditions %}<li>{{ item|safe }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endif %}

{% if pvsd_diagnostics %}
<p>
<b>PVSD diagnostics:</b>
<div style="margin-left:20px">
<table>
  <tbody>
    <tr><td>Last status: </td><td>{{pvsd_diagnostics.status}}</td></tr>
    <tr><td>Last status update: </td><td>{{pvsd_diagnostics.status_time}}</td></tr>
  </tbody>
</table>
<p>

{% if pvsd_diagnostics.conditions %}
Reported conditions:<br>
<ul>
{% for item in pvsd_diagnostics.conditions %}<li>{{ item|safe }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endif %}
{% endif %}

<p>
<b>Workflow diagnostics:</b>
<div style="margin-left:20px">
<table>
  <tbody>
    <tr><td>Last status: </td><td>{{wf_diagnostics.status}}</td></tr>
    <tr><td>Last status update: </td><td>{{wf_diagnostics.status_time}}</td></tr>
{% for item in wf_diagnostics.processes %}
    <tr><td>PID {{ item.pid }}: </td><td>{{ item.time }}</td></tr>
{% endfor %}
{% for item in wf_diagnostics.dasmon_listener %}
    <tr><td>Dasmon listener PID {{ item.pid }}: </td><td>{{ item.time }}</td></tr>
{% endfor %}
  </tbody>
</table>
<p>

{% if wf_diagnostics.conditions %}
Reported conditions:<br>
<ul>
{% for item in wf_diagnostics.conditions %}<li>{{ item|safe }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

<p>
<b>Cataloging & Reduction diagnostics:</b>
<div style="margin-left:20px">
<table>
  <tbody>
{% for item in post_diagnostics.ar_nodes %}
    <tr><td>{{ item.node }}: </td><td>{{ item.time }}</td><td>{{ item.msg }}</td></tr>
{% endfor %}
  </tbody>
</table>
<p>

{% if post_diagnostics.conditions %}
Reported conditions:<br>
<ul>
{% for item in post_diagnostics.conditions %}<li>{{ item|safe }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}

{% block nocontent %}{% endblock %}
