<div id='monitored_pv_table'>
{% if monitored_pvs %}
   <script id="source" language="javascript" type="text/javascript">
   $(function() { $('.inlinesparkline').sparkline('html',
                                                  {type: 'line',width: '50px',
                                                   spotColor: 'undefined',
                                                   minSpotColor: 'undefined',
                                                   maxSpotColor: 'undefined',
                                                   highlightSpotColor: 'undefined'} ); });
   </script>
   <div class="box">
      <table class="message_table fixed_table" id="monitored_pv_value_table">
      <thead>
      <tr>
          <th> Monitored PV </th> <th> Value </th> <th style="width:50px;min-width:50px;"> History </th> <th style="width:170px;min-width:170px;"> Last Updated </th>
      </tr>
      </thead>
      <tbody>
      {% for item in monitored_pvs %}
          <tr>
          {% if item.data %}<td><a href='javascript:void(0);' onClick="new_monitor('{{ item.key }}', '2');"> {{ item.key }} </a></td>{% else %}<td>{{ item.key }}</td>{% endif %}
          <td>{{ item.value }}</td>
          <td><span class="inlinesparkline">{{ item.data }}</span></td>
          <td>{{ item.timestamp }}</td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
      <br>
   </div>
{% endif %}
</div>
