{% extends "base.html" %}
{% load static %}

{% block title %}Latest Runs{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/thirdparty/datatables.min.css" crossorigin="anonymous" />
<script type="text/javascript" src="/static/thirdparty/datatables.min.js" crossorigin="anonymous"></script>

<script>

  var table;

  $(document).ready(function () {
    table = $('#run_table').DataTable({
      ajax: '{{ run_list_url }}',
      serverSide: true,
      order: [[0, "desc"]],
      columns: [
        { data: 'instrument_id' },
        { data: 'run' },
        { data: 'timestamp' },
        { data: 'status' }
      ],
      searching: false,
      ordering: false,
    });
  });

  setInterval(function () {
    table.ajax.reload(null, false);
  }, 10000);


</script>
{% endblock %}

{% block banner %}Latest Runs{% endblock %}

{% block right_side_links %}
<span style="float:right">
  <a href="{% url 'dasmon:dashboard' %}">dashboard</a> | <a href="{% url 'dasmon:dashboard_complete' %}">extended
    dashboard</a> | <b>latest runs</b>
</span>
{% endblock %}

{% block summary %}
List of latest runs:<br><br>
<div>
  <table class="message_table" id="run_table">
    <thead>
      <tr>
        <th style="min-width: 50px;">Instr.</th>
        <th style="min-width: 50px;">Run</th>
        <th>Created on</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<br>
{% endblock %}
{% block nocontent %}{% endblock %}
