dist/
build/
check_diff.py
workflow/git_version.py
local_settings.py
SNSdata.tar.gz
src/dasmon_app/django_nscd_dasmon.egg-info/
src/webmon_app/django_nscd_webmon.egg-info/
src/workflow_app/django_nscd_workflow.egg-info/
src/dasmon_app/dasmon_listener/_version.py
src/webmon_app/reporting/_version.py
src/workflow_app/workflow/_version.py

*.o
*.obj
*.pyc
*.pyo
*.so
*.a

.project
.pydevproject
.vscode/settings.json

# Sphinx Doc related
_build/
*.log

# Environment related
.envrc

# Self-signed certificates
nginx/nginx.crt
nginx/nginx.key
# pixi environments
.pixi/*
!.pixi/config.toml
