{% extends "base.html" %}

{% block title %} Instrument Status {% endblock %}

{% block banner %} Instrument Status {% endblock %}

{% block header %}
<script language="javascript" type="text/javascript" src="/static/live_update.js"></script>
<script>
    var plotted_vars = [];
    var plotted_data = [];

    function poll() {
        $.ajax({ url: "{{ update_url }}", success: function(data) {
            for (var i=0; i<data.instruments.length; i++)
            { 
            	global_system_status_update(data, i);
                var content = "<li class='status_"+data.instruments[i].completeness+"' id='"+data.instruments[i].name+"_completeness'>"+data.instruments[i].completeness_msg+"</td>";
                $('#'+data.instruments[i].name+'_completeness').replaceWith(content);
            }
        }, dataType: "json", timeout: 30000 });
    };
</script>
{% endblock %}    

{% block bodytop %}
<script id="source" language="javascript" type="text/javascript">
    setInterval(poll, 5000);
</script>
{% endblock %}

{% block summary %}

List of instruments:<br>
  	<table cellspacing="0" class="message_table">
  	<thead>
  	<tr>
  		<th style="min-width:75px">Instrument</th> <th>System status</th> <th style="min-width:75px">Processing<br>completion</th>
  	</tr>
  	</thead>
  	<tbody class='status_box'>
   	{% for item in instruments %}
	   	<tr>
	   	<td><a href='{{ item.url|safe }}'>{{ item.name|upper }}</a></td>
	   	<td class='diagnostics'>
            <a href='{{ item.url|safe }}diagnostics/'>
            <ul>
                <li class='status_{{ item.dasmon_status }}' id='{{ item.name }}_dasmon_status'>DASMON</li> 
                <li class='status_{{ item.pvstreamer_status }}' id='{{ item.name }}_pvstreamer_status'>PVStreamer</li> 
                <li class='status_{{ postprocess_status.workflow }}' id='{{ item.name }}_workflow_status'>Workflow</li>
                <li class='status_{{ postprocess_status.catalog }}' id='{{ item.name }}_catalog_status'>Catalog</li>
                <li class='status_{{ postprocess_status.reduction }}' id='{{ item.name }}_reduction_status'>Reduction</li>
            </ul>
            </a>
        </td>
        <td> 
            <ul>
                <li class='status_{{ item.completeness }}' id='{{ item.name }}_completeness'>{{ item.completeness_msg }}</li>
            </ul>
        </td>
	   	</tr>
   	{% endfor %}
   	</tbody>
   	</table>
{% endblock %}
{% block nocontent %}{% endblock %}