{% extends "dasmon/live_monitor.html" %}
{% load dasmon_tags %}

{% block header %}
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/thirdparty/flot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/thirdparty/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/live_update.js"></script>
<script>
    var last_run_id = '{{ last_run.id }}';
    var complete_since_run_id = '{{ first_run_id }}';
    var run_data = {{ run_rate|safe }};
    var error_data = {{ error_rate|safe }};
    jQuery.fn.exists = function(){return this.length>0;}

    function poll() {
        $.ajax({ url: "{{ update_url }}?since="+last_run_id+"&complete_since="+complete_since_run_id, success: function(data){
            if (data.refresh_needed.localeCompare('1')==0){
                for (var i=0;i<data.run_list.length;i++)
                { 
                	if (!$('#run_id_'+data.run_list[i].run_id).exists()) {
                        var new_entry = "";
                        new_entry += "<tr class='highlight_row'>";
                        new_entry += "<td><a href='{{ base_run_url }}"+data.run_list[i].run+"/'>"+data.run_list[i].run+"</a></td>";
                        new_entry += "<td>"+data.run_list[i].timestamp+"</td>";
                        new_entry += "<td><span id='run_id_"+data.run_list[i].run_id+"'>"+data.run_list[i].last_error+"</span></td>";
                        new_entry += "</tr>";
                        $('#run_table tbody').prepend(new_entry);
                        //The following would keep the number of rows constant
                        //if ($('#run_table tr').length > num_shown+1){ $('#run_table tr:last').remove();}
                	}
                }
                last_run_id = data.last_run_id;
            }
                   
            for (var i=0; i<data.status_list.length; i++)
            { 
                $('#'+data.status_list[i].key).replaceWith("<span id='"+data.status_list[i].key+"'>"+data.status_list[i].value+"</span>");
            }            

            for (var i=0; i<data.variables.length; i++)
            { 
                if (data.variables[i].key=='count_rate')
                    $('#count_rate_top').replaceWith("<span id='count_rate_top'>"+data.variables[i].value+"</span>");
                
                $('#'+data.variables[i].key).replaceWith("<span id='"+data.variables[i].key+"'>"+data.variables[i].value+"</span>");
                $('#'+data.variables[i].key+'_timestamp').replaceWith("<span id='"+data.variables[i].key+"_timestamp'>"+data.variables[i].timestamp+"</span>");
            }

            $('#info_last_run').replaceWith("<span id='info_last_run'><a href='{{ base_run_url }}"+data.last_run+"/'>"+data.last_run+"</a></span>");
            $('#info_last_expt').replaceWith("<span id='info_last_expt'><a href='{{ base_ipts_url }}"+data.last_expt+"/'>"+data.last_expt+"</a></span>");
            $('#info_run_time').replaceWith("<span id='info_run_time'>"+data.last_run_time+"</span>");
            
            $('#dasmon_status').replaceWith("<li class='status_"+data.das_status.dasmon+"' id='dasmon_status'>DASMON</li>");
            $('#workflow_status').replaceWith("<li class='status_"+data.das_status.workflow+"' id='workflow_status'>Workflow</li>");
            $('#catalog_status').replaceWith("<li class='status_"+data.das_status.catalog+"' id='catalog_status'>Catalog</li>");
            $('#reduction_status').replaceWith("<li class='status_"+data.das_status.reduction+"' id='reduction_status'>Reduction</li>");
            
            run_data = data.run_rate;
            error_data = data.error_rate;
            plot_combined_rates(run_data, error_data);

        }, dataType: "json", timeout: 30000 });
    };
</script>   
{% endblock %}

{% block right_side_links %}
    <span style="float:right">monitoring: 
    <a href="{{ live_monitor_url }}">live parameters</a> | <b>live runs</b></span>
{% endblock %}

{% block content %}
      <table cellspacing="0" class="message_table" id="run_table">
      <thead>
      <tr>
      {% for item in run_list_header %}
          <th {% if item.style %} style="{{item.style}}" {% endif %} {% if item.class %} class="{{item.class}}" {% endif %}>  {{ item.name|safe }}</th>
      {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for item in run_list %}
          <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
          <td><a href='{{ base_run_url }}{{ item.run_number }}/'>{{ item.run_number }}</a></td>
          <td>{{ item.created_on }}</td>
          <td><span id='run_id_{{ item.id }}'>{{ item.last_error|safe }}</span></td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
      <br>

<div id="dialog_placeholder"></div>

<script id="source" language="javascript" type="text/javascript">
    plot_combined_rates(run_data, error_data);
</script>
{% endblock %}