<span id='signal_table'>
{% if signals %}
   <div class="box">
      <table cellspacing="0" class="message_table" id="alert_table">
      <thead>
      <tr>
          <th> Signal </th> <th> Status </th> <th> Last Updated </th>
      </tr>
      </thead>
      <tbody>
      {% for item in signals %}
          <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
          {% if item.key %}
          <td><a href='javascript:void(0);' onClick="pop_monitor_plot('{{ item.key }}', '2');"> {{ item.name }} </a></td>
          {% else %}
          <td>{{ item.name|safe }}</td>
          {% endif %}
          <td>{{ item.status|safe }}</td>
          <td>{{ item.assert_time }}</td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
      <br>
   </div>
{% endif %}
</span>