{% extends "dasmon/live_monitor.html" %}

{% block title %} Process Variables {% endblock %}

{% block banner %} Process Variables {% endblock %}    

{% block header %}

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/thirdparty/flot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/thirdparty/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/live_update.js"></script>

<script>
    var last_run_id = '{{ last_run.id }}';
    var run_data = {{ run_rate|safe }};
    var error_data = {{ error_rate|safe }};
    var plotted_vars = [];
    var plotted_data = [];

    function poll() {
        query_str = "";
        for (var i=0;i<plotted_vars.length; i++) {
            if (plotted_vars[i][1]=="1") query_str += plotted_vars[i][0]+',';
        }
        $.ajax({ url: "{{ update_url }}?since="+last_run_id+"&vars="+query_str, success: function(data) {
        	update_from_ajax_data(data);
            $('#info_last_run').replaceWith("<span id='info_last_run'><a href='{{ base_run_url }}"+data.last_run+"/'>"+data.last_run+"</a></span>");
            $('#info_last_expt').replaceWith("<span id='info_last_expt'><a href='{{ base_ipts_url }}"+data.last_expt+"/'>"+data.last_expt+"</a></span>");
            $('#info_run_time').replaceWith("<span id='info_run_time'>"+data.last_run_time+"</span>");
            
            run_data = data.run_rate;
            error_data = data.error_rate;
            plotted_data = data.live_plot_data;
            plot_combined_rates(run_data, error_data);
            
            for (var i=0; i<plotted_vars.length; i++) {
                for (var j=0; j<plotted_data.length; j++) {
                    if (plotted_data[j][0]==plotted_vars[i][0]) {
                        plot_monitor(plotted_data[j][1], "#"+plotted_vars[i][0]+"_plot", plotted_vars[i][0]);
                    }
                }
            }

        }, dataType: "json", timeout: 30000 });
    };
    
    function pop_monitor_plot(element_id)
    {
        if (!$("#"+element_id+"_dialog").length)
        {
            var plot_content = "<div id='"+element_id+"_dialog' title='"+element_id+"'>";
            plot_content    += "  <div class='live_plots'>";
            plot_content    += "    <div style='height:150px' id='"+element_id+"_plot'><span class='waiting'>Working... this will take a second or two.</span></div>";
            plot_content    += "    <span style='float:right'>time elapsed [minutes]</span><br>";
            plot_content    += "  </div>";
            plot_content    += "</div>";
            $('#dialog_placeholder').append(plot_content);
            $( "#"+element_id+"_dialog" ).dialog({
                width: 400,
                height: 220,
                resizable: false,
                closeOnEscape: true,
                close: function( event, ui ) 
                { 
                    $( "#"+element_id+"_dialog" ).remove(); 
                    for (var i = 0; i < plotted_vars.length; i++) {
                        if (plotted_vars[i][0]==element_id) plotted_vars[i][1]="0";
                    };
                }
            });
            plotted_vars.push([element_id, "1"]);
        }
    }
</script> 
{% endblock %}

{% block right_side_links %}
    <span style="float:right">live monitoring: 
    <a href="{{ live_monitor_url }}">status</a> | <a href="{{ live_runs_url }}">runs</a> | <b>PVs</b>
    </span>
{% endblock %}

{% block bodytop %}
<script id="source" language="javascript" type="text/javascript">
    setInterval(poll, 5000);
</script>
{% endblock %}

{% block content %}
      <table cellspacing="0" class="message_table" id="error_table">
      <thead>
      <tr>
          <th> Key </th> <th> Value </th> <th> Last Updated </th>
      </tr>
      </thead>
      <tbody>
      {% for item in key_value_pairs %}
          <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
          <td><a href='javascript:void(0);' onClick="pop_monitor_plot('{{ item.key }}');"> {{ item.key }} </a></td>
          <td><span id="{{ item.key }}">{{ item.value }}</span></td>
          <td><span id="{{ item.key }}_timestamp">{{ item.timestamp }}</span></td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
      <br>

<div id="dialog_placeholder"></div>

<script id="source" language="javascript" type="text/javascript">
    plot_combined_rates(run_data, error_data);
</script>
{% endblock%}