.axis path,
.axis line {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges; }

.axis text,
text,
.tooltip {
    color: #555;
    font-family: sans-serif;
    font-size: 10px;
}
.x.axis path { fill: none; }

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path{
    stroke-width: 0;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.focus text{
    font-size: 8pt;
    color: #333;
}

#plot_anchor{
    /* width: 150px;
    height: 160px; */
    padding: 0.5em;
}
#plot_anchor h3{
    text-align: center;
    margin: 0;
}

.default_1d {
    margin: 5px 5px 5px 5px;
    padding-right: 5px;
    /* padding: 50px 50px 50px 50px; */
}

.analysis_tools { border: 0; }

.box_area {
    border: 1px solid #aaaaaa;
    border-radius:3px;
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    background-color: cornsilk;
}
.box_area table {
    cellspacing='1px';
}

.box_area .ui-button-text-only .ui-button-text {
    padding: 3px 3px;
}

.box_area input { margin: 0 0 0 0; }
.box_area .ui-widget {
    font-size:1em;
}

.plot_refresh {
    padding: 1px 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.upper_right_link {
    padding: 1px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}
