
/************************************************************/

.sp-picker-container{
	width: 132px;
}

/************************************************************/

.backdrop{
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	z-index: 400;
}

/************************************************************/
/**** MODAL ELEMENTS ****************************************/
/************************************************************/
.modal-window{
	position: absolute;
	height: 100%;
	background-color: #fff;
	z-index: 450;
    box-shadow: 0px 0px 26px #000;
}
.modal-heading{
	color: #444;
	border-bottom: 1px solid #888;
	padding: 5px;
	margin-bottom: 3px;
    box-shadow: 0px 0px 2px #000;
}
.modal-heading span{
  position: absolute;
  top: 6px;
  right: 14px;
  width: 4px;
  height: 4px;
  cursor: pointer;
}
.modal-content{
	position: relative;
	padding: 5px;
	font-size: 11pt;
	overflow-x:scroll;
	overflow-y:scroll;
	height: 118px;
}
.modal-buttons{
	position: absolute;
	bottom: 10px;
	right: 4px;
}
.modal-buttons a{
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

/**********************************************************/
/**** SIDEBAR ELEMENTS ************************************/
/**********************************************************/
.sidebar{
	position: absolute;
	right: 0px;
	height: 100%;
	background-color: #fff;
	z-index: 20;
    box-shadow: -1px 0px 2px #000;
}
.sidebar-heading{
	color: #444;
	border-bottom: 1px solid #888;
	padding: 5px;
	margin-bottom: 3px;
    box-shadow: 0px 0px 0px #000;
}
.sidebar-heading span{
  position: absolute;
  top: 6px;
  right: 14px;
  width: 4px;
  height: 4px;
  cursor: pointer;
}
.sidebar-content{
	position: relative;
	padding: 5px;
	font-size: 11pt;
	overflow-x:scroll;
	overflow-y:scroll;
	height: 274px;
}

.info_table a {
	color: #000;
}
#new_row a,
#new_row a:visited{
	background: #deedf8;
	text-decoration: none;
	padding: 1px;
	/*margin: 2px;
	border: 1px solid #999;*/
}

/**********************************************************/
/**** MODAL AND SIDEBAR ELEMENTS **************************/
/**********************************************************/
.modal-content::-webkit-scrollbar-track,
.sidebar-content::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.modal-content::-webkit-scrollbar,
.sidebar-content::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}
.modal-content::-webkit-scrollbar-thumb,
.sidebar-content::-webkit-scrollbar-thumb{
	background-color: #666666;
}

.button{
  padding: 4px 10px;
  margin: 1px 1px;
  width: 120px;
  font-size: 12px;
  background: #7fbbe5;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.button:hover{
  background-color: #94c6e9;
}
.user-console {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #7fbbe5;
  color: #ffffff;
    font-size: 10px;
    /*text-transform: uppercase;*/
    height: 12px;
  padding: 10px;
}
.console-item {
  float: right;
}
.console-input {
  font-size: 10px;
  height: 10px;
  width: 50px;
}

a.icon-link {
  padding-left: 5px;
  color: #fff;
}

.fa-align-left,
.fa-align-center,
.fa-align-right {
	color: #000;
	padding: 2px;
}

.align-active {
	border: 1px solid black;
}

table.info_table{
	font-size: 10px;
	border: 1px solid grey;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 0px;
}
.info_table th,
.info_table td {
	font-size: 10px;
	border: 1px solid grey;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 0px;
}
