<!DOCTYPE html>
<html>
<!--[if lte IE 8]>
<script src="lib/html5.js" type="text/javascript"></script>
<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Data Processing Report{% endblock %}</title>

<link rel="stylesheet" href="/static/reporting_layout.css" type="text/css" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/reporting_layout_print.css" type="text/css" media="print" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/tables.css" type="text/css" title="no title" charset="utf-8">
{% if is_mobile %}
<link rel="stylesheet" href="/static/mobile.css" type="text/css" title="no title" charset="utf-8">
{% endif %}
<link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />

<link rel="stylesheet" href="/static/thirdparty/jquery-ui.css" />
<script src="/static/thirdparty/jquery-1.8.3.js"></script>
<script src="/static/thirdparty/jquery-ui.js"></script>

{% block header %}{% endblock %}
<script type="text/javascript">
    function show_alert() {
        $(".user_alert").show("slide", {direction:'right'}, 500 );
        $(".user_alert").click(function(){$(this).fadeOut("fast");});
    };
    function new_alert(msg) {
    	document.getElementById('alert_message').innerHTML = msg;
    }
</script>
</head>
 
<body>
<script id="source" language="javascript" type="text/javascript">
	{% if user_alert %}
    $(document).ready(show_alert);
    {% endif %}
</script>
    {% block bodytop %}
    {% endblock %}
    
 	<div class="user_info">
 	{% if gravatar_url %}
		<img src="{{ gravatar_url|safe }}&s=16" height="16" width="16" alt="{{ user.username}}">
	{% endif %}
		{{ user.username }} |
    {% if help_url %}
        <a href="{{ help_url }}">help</a> |
    {% endif %}
	{% if user.is_authenticated %}
		<a href="{{ logout_url }}">logout</a>
	{% else %}
		<a href="{{ login_url }}">login</a>
	{% endif %}
	</div>
    
    <a class="banner_logo" href="http://neutrons.ornl.gov/" target="_blank"><img title="SNS" src="/static/sns_logo_111x75.png" alt="SNS" /></a>
    <div class="banner_title">{% block banner %}Data Processing Report{% endblock %}</div>

    <div class='user_alert'>
    {% if user_alert %}
        <div id="alert_message">
        {% for item in user_alert %}
            {{ item|safe }} {% if not forloop.last %}<br><br>{% endif %}
        {% endfor %}
        </div>
        {% else %}
    <div id="alert_message"></div>
    {% endif %}
    </div> 

    <div class="breadcrumbs">
    {% block breadcrumb %}
    {% if breadcrumbs %}
        {{ breadcrumbs|safe }}
    {% else %}
        <a href="/">home</a>
    {% endif %}
    {% block right_side_links %}
    {% endblock %}
    {% endblock %}
    </div>

    <div class="summary">    
    {% block summary %}{% endblock %}
    
	{% block nocontent %}
    <div class="box">
    {% block content %}{% endblock %}
    </div>
    {% endblock %}
    </div>

<footer>    
        <div class="ornlFooter">
            <table style="width: 100%">
                <tr>
                    <td>
                        <a id="FooterUTBLogoLink" title="UT-Battelle" href="http://ut-battelle.org" target="_blank" style="display:inline-block;height:44px;width:150px;"><img title="UT-Battelle" src="/static/utb_logo.png" alt="UT-Battelle" /></a>
                    </td>
                    <td class="links">
                        <ul>
                            <li>
                                <a id="HyperLink2" title="Security Notice" href="http://www.ornl.gov/ornlhome/disclaimers.shtml" target="_blank">Security Notice</a><span>·</span></li>
                            <li>
                                <a id="HyperLink3" title="Internal Users" href="http://www.ornl.gov/ornlhome/remote.shtml" target="_blank">Internal Users</a><br></li>
                            <li>
                                <a id="HyperLink5" title="DOE - Oak Ridge" href="http://www.oakridge.doe.gov/external/" target="_blank">DOE - Oak Ridge</a><span>·</span></li>
                            <li>
                                <a id="HyperLink6" title="UT-Battelle" href="http://ut-battelle.org" target="_blank">UT-Battelle</a></li>
                        </ul>
                    </td>
                    <td>
                        <a id="FooterScienceLogoLink" title="Department of Energy , Office of Science" href="http://science.energy.gov/" target="_blank" style="display:inline-block;height:56px;width:173px;"><img title="Department of Energy , Office of Science" src="/static/doe_os_logo.png" alt="Department of Energy , Office of Science" /></a>
                    </td>
                </tr>
            </table>
        </div>
 </footer>

</body>

</html>
