{% extends "base.html" %}

{% block title %}{{ instrument }} Configuration {% endblock %}

{% block banner %}{{ instrument }} Configuration {% endblock %}

{% block header %}
<link rel="stylesheet" media="all" href="/static/thirdparty/dynatable/jquery.dynatable.css" />
<script type='text/javascript' src='/static/thirdparty/dynatable/jquery.dynatable.js'></script>

<script>
  var records = {% autoescape off %}{{ params_list }}{% endautoescape %};
  var action_records = {% autoescape off %}{{ action_list }}{% endautoescape %};
  var dynatable = null;
  var action_dynatable = null;
  var default_requested = 0;
  var last_action = '{{ last_action_time }}';
  function poll(){
      $.ajax({ url: "{% url 'reduction_configuration_update' instrument %}?since="+last_action, success: function(data) {
          if (data.refresh_needed.localeCompare('1')==0) {
              for (var i=0;i<data.actions.length;i++) { 
                  action_records.push({'info': data.actions[i].info, 'time': data.actions[i].time, 'timestamp': data.actions[i].timestamp});
              }
              last_action = data.last_action_time;
              action_dynatable.settings.dataset.originalRecords = action_records;
              action_dynatable.process();
          }
      }, dataType: "json", timeout: 30000, cache: true,
      statusCode: { 401: function() { new_alert("Your session expired. Please log in again"); show_alert(); }}});
  };
  $(document).ready( function() {
      $('#params_table').dynatable({ dataset: { records: records },
                                     features: { pushState: false, search: false }
      });
      dynatable = $('#params_table').data('dynatable');
      dynatable.sorts.add('key', 1)
      dynatable.process();

      $('#action_table').dynatable({ dataset: { records: action_records },
                                     features: { pushState: false, search: false }
      });
      action_dynatable = $('#action_table').data('dynatable');
      action_dynatable.sorts.add('timestamp', -1)
      action_dynatable.process();
      $( "#edit_form" ).submit(function( event ) {
        event.preventDefault();
        var template_data = [];
        for (i = 0; i < dynatable.settings.dataset.originalRecords.length; i++)
          template_data.push({'key': dynatable.settings.dataset.originalRecords[i].key,
                              'value': dynatable.settings.dataset.originalRecords[i].raw_value});
        $.post( "{% url 'reduction_configuration_change' instrument %}", {use_default: default_requested, data: JSON.stringify(template_data) } )
            .fail(function() { new_alert( "Error processing request: contact {{ helpline }}" ); show_alert(); });
      });
      setInterval(poll, 10000);
  });
  function update(data) {
    for (i = 0; i < dynatable.settings.dataset.originalRecords.length; i++) { 
        if (dynatable.settings.dataset.originalRecords[i].key == data.key.value) {
            dynatable.settings.dataset.originalRecords[i].value = "<form action='javascript:void(0);' onsubmit='update(this);'><input type='hidden' name='key' value='"+data.key.value+"'><input type='text' name='value' value='"+data.value.value+"'></form>";
            dynatable.settings.dataset.originalRecords[i].raw_value = data.value.value;
        }
    }
    dynatable.process();
    return true;
  }
  function check_default_script() { $("#params_table input").attr("disabled", "disabled"); default_requested = 1;}
  function check_new_script() { $("#params_table input").removeAttr("disabled"); default_requested = 0;}
</script>
{% endblock %}
    
{% block summary %}
<div class='section_divider'>Configuring the automated reduction</div>
<div class='narrow_section'>
Instrument team members can use this page to generate a new automated reduction script.
<ul>
<li>A default script must be placed in <i>/SNS/{{ instrument }}/shared/autoreduce/reduce_{{ instrument }}_default.py</i></li>
<li>A script template must be placed in <i>/SNS/{{ instrument }}/shared/autoreduce/reduce_{{ instrument }}.py.template</i></li>
<li>Review the parameters below and modify as needed. Hit enter to apply your changes before clicking the submit button.</li>
<li>The <i>reduce_{{ instrument }}.py</i> will automatically be overwritten once you click the submit button.</li>
<li>Make sure <b>all</b> your template properties appear below: if not, contact 
<a href="mailto:{{ helpline }}" target="_top">{{ helpline }}</a>.</li>
</ul>


</div>
List of parameters for {{ instrument }} reduction template:
<br>

{% if is_instrument_staff %}
  <div style="float: right; margin-left:15px;">
    <form id='edit_form' action='#'>Create new script: <input id="submit_button" title="Click to generate a new reduction script" type="submit"></form>
    <form id='default_form' action='#'>
    <div id="radio">
      <input type="radio" id="new" name="radio" checked="checked" onclick="check_new_script()"><label for="new">New script</label>
      <input type="radio" id="default" name="radio" onclick="check_default_script()"><label for="default">Restore default script</label>
    </div>
    </form>
  </div>
{% endif %}
<table class="message_table fixed_table" id="params_table">
  <thead>
    <tr>
      <th data-dynatable-column="key" style="width: 100px;">Parameter</th>
      <th data-dynatable-column="value">Value</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br>
{% endblock %}

{% block content %}
Latest post-processing log entries for {{ instrument }}:<br><br>
<table class="message_table fixed_table" id="action_table">
  <thead>
    <tr>
      <th data-dynatable-column="info">Information</th>
      <th data-dynatable-column="time" data-dynatable-sorts="timestamp" style="width: 90px;">Time</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br>

{% endblock %}