{% extends "base.html" %}

{% block title %}{{ instrument }} Configuration {% endblock %}

{% block banner %}{{ instrument }} Configuration {% endblock %}

{% block header %}
<script>
  var action_records = {% autoescape off %}{{ action_list }}{% endautoescape %};
  var default_requested = 0;
  var last_action = '{{ last_action_time }}';
  function poll(){
      $.ajax({ url: "{% url 'reduction:configuration_update' instrument %}?since="+last_action, success: function(data) {
          if (data.refresh_needed.localeCompare('1')==0) {
              $('#last_action').replaceWith("<span id='last_action'>"+data.actions[data.actions.length-1].info+" on "+data.actions[data.actions.length-1].time+"</span>");
              last_action = data.last_action_time;
          }
      }, dataType: "json", timeout: 30000, cache: true,
      statusCode: { 401: function() { new_alert("Your session expired. Please log in again"); show_alert(); }}});
  };
  $(document).ready( function() {
      {% if not is_instrument_staff %}
      $('#submit_button').prop('disabled', 'disabled');
      $('#reset_button').prop('disabled', 'disabled');
      new_alert( "Only instrument team members can use this form: contact {{ helpline }}" ); show_alert();
      {% endif %}
      setInterval(poll, 10000);
  });
  function toggle_roi_bck(id) {
    // Use 2nd ROI is turned ON
    if (id == "#{{ options_form.use_roi_bck.id_for_label }}") {
      if ($("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_side_bck.id_for_label }}").prop('checked', false);
      } else {
        $("#{{ options_form.force_background.id_for_label }}").prop('checked', false);
      }

    // Use side background is turned ON
    } else if (id == "#{{ options_form.use_side_bck.id_for_label }}") {
      if ($("#{{ options_form.use_side_bck.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked', false);
        $("#{{ options_form.force_background.id_for_label }}").prop('checked', false);
      }

    // Force ROI to specific range is turned ON
    } else if (id == "#{{ options_form.force_background.id_for_label }}") {
      if ($("#{{ options_form.force_background.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked', true);
        $("#{{ options_form.use_side_bck.id_for_label }}").prop('checked', false);
      }
    }
  };
</script>
{% endblock %}

{% block summary %}
<div class='section_divider'>Configuring the automated reduction</div>
<div class='narrow_section'>
Instrument team members can use this page to generate a new automated reduction script.
<ul>
<li>Click the submit button to create a new automated reduction script.</li>
<li>Click the reset to populate the form with default values.</li>
<li>The <i>reduce_{{ instrument }}.py</i> will automatically be overwritten once you click the submit button.</li>
</ul>
</div>

<div style="margin-bottom:60px;">
<p>List of parameters for {{ instrument }} reduction template:</p>
<form action="" method="POST">{% csrf_token %}
  <table class="property_table  fixed_table" >
    <tr><th></th> <td></td></tr>
    <tr><td colspan="2"><br>The ROI in the data file is used to determine the reflectivity peak position.
    If this ROI is invalid, the system will try to find an appropriate region to use.</td></tr>

    <tr><td colspan="2"><br>You can choose to replace the ROI in the data by your own value.
    Check the following box if you want to define your own ROI and use it for peak selection.</td></tr>
    <tr class='tiny_input'><th>Force peak ROI</th><td>{{ options_form.force_peak }} 
                                        <span class='short_label'>Pixel<sub>min</sub></span> {{ options_form.peak_min }} 
                                        <span class='short_label'>Pixel<sub>max</sub></span> {{ options_form.peak_max }}</td></tr>

    <tr><td colspan="2"><br>A second ROI is available in the data file and can be used to define the background.
    Check the following box if you want to use the 2nd ROI for your background, otherwise
    a default region will be used.</td></tr>
    <tr><th>Use 2nd ROI</th><td onclick="toggle_roi_bck('#{{ options_form.use_roi_bck.id_for_label }}');">{{ options_form.use_roi_bck }}</td></tr>

    <tr><td colspan="2"><br>You can choose to replace the 2nd ROI in the data by your own value.
    Check the following box if you want to define your own 2n ROI and use it for background selection.
    <i>The option to use the 2nd ROI has to be turned ON to use this option.</i></td></tr>
    <tr class='tiny_input'><th>Force background ROI</th><td><span onclick="toggle_roi_bck('#{{ options_form.force_background.id_for_label }}');">{{ options_form.force_background }}</span> 
                                        <span class='short_label'>Bck<sub>min</sub></span> {{ options_form.bck_min }} 
                                        <span class='short_label'>Bck<sub>max</sub></span> {{ options_form.bck_max }}</td></tr>

    <tr><td colspan="2"><br>As an alternative to use the 2nd ROI, you can use a region around the reflected peak to 
    estimate the background. Check the following box if you want to use the region on each side of the peak to estimate your background.</td></tr>
    <tr class='tiny_input'><th>Use side background</th><td><span onclick="toggle_roi_bck('#{{ options_form.use_side_bck.id_for_label }}');">{{ options_form.use_side_bck }}</span> 
    Pixels on each side {{ options_form.bck_width }}</td></tr>

    <tr><td colspan="2"><br>Once the reflected peak ROI is selected, you can try to fine tune this ROI by fitting for
    a peak within that region and updating the ROI according to the location found.
    Check the following box if you want to find a peak within the ROI and redefine the ROI afterwards.</td></tr>
    <tr><th>Fit peak within ROI</th><td>{{ options_form.fit_peak_in_roi }}</td></tr>





    <tr><td colspan="2"><br>Check the following box if you want to use SANGLE, otherwise DANGLE will be used.</td></tr>
    <tr><th>Use SANGLE</th><td>{{ options_form.use_sangle }}</td></tr>

    <!-- tr><td colspan="2"><br>When using constant-Q binning, provide a cutoff above which it will be used.</td></tr -->
    <tr class='tiny_input'><th>Use constant-Q binning</th><td>{{ options_form.use_const_q }} </td></tr>
    <!--  Cutoff (1/&Aring;) {{ options_form.const_q_cutoff }}</td></tr> -->

    <tr><td colspan="2"><br>Provide a Huber X value above which a run will be considered a direct beam.</td></tr>
    <tr class='tiny_input'><th>Direct beam Huber X cut</th><td>{{ options_form.direct_huber_cut }}</td></tr>
  </table>
<p>
<span style="float: right; margin-left:15px;" >
<input id="submit_button" title="Click to create new reduction script" type="submit" name="button_choice" value="submit"/>
<input id="reset_button" title="Click to populate the form with default values" type="submit" name="button_choice" value="reset"/>
</span>
</form>
</div>
<p>
{% endblock %}

{% block content %}
Latest post-processing log entries for {{ instrument }}:<br><br>

<span id='last_action'>
{% if action_list and action_list|length > 0 %}{{ action_list.0.info }} on {{ action_list.0.time }}
{% else %}No recent changes{% endif %}
</span>
<br>

{% endblock %}