{% extends "base.html" %}

{% block title %}{{ instrument }} Configuration {% endblock %}

{% block banner %}{{ instrument }} Configuration {% endblock %}

{% block header %}
<style>
.help_line {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 2px;
}
</style>
<script>
  var action_records = {% autoescape off %}{{ action_list }}{% endautoescape %};
  var default_requested = 0;
  var last_action = '{{ last_action_time }}';
  function poll(){
      $.ajax({ url: "{% url 'reduction:configuration_update' instrument %}?since="+last_action, success: function(data) {
          if (data.refresh_needed.localeCompare('1')==0) {
              $('#last_action').replaceWith("<span id='last_action'>"+data.actions[data.actions.length-1].info+" on "+data.actions[data.actions.length-1].time+"</span>");
              last_action = data.last_action_time;
          }
      }, dataType: "json", timeout: 30000, cache: true,
      statusCode: { 401: function() { new_alert("Your session expired. Please log in again"); show_alert(); }}});
  };
  $(document).ready( function() {
      {% if not is_instrument_staff %}
      $('#submit_button').prop('disabled', 'disabled');
      $('#reset_button').prop('disabled', 'disabled');
      new_alert( "Only instrument team members can use this form: contact {{ helpline }}" ); show_alert();
      {% endif %}
      setInterval(poll, 10000);
  });
  function toggle_roi_bck(id) {
    // Use 2nd ROI is turned ON
    if (id == "#{{ options_form.use_roi_bck.id_for_label }}") {
      if ($("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_side_bck.id_for_label }}").prop('checked', false);
      } else {
        $("#{{ options_form.force_background.id_for_label }}").prop('checked', false);
      }

    // Use side background is turned ON
    } else if (id == "#{{ options_form.use_side_bck.id_for_label }}") {
      if ($("#{{ options_form.use_side_bck.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked', false);
        $("#{{ options_form.force_background.id_for_label }}").prop('checked', false);
      }

    // Force ROI to specific range is turned ON
    } else if (id == "#{{ options_form.force_background.id_for_label }}") {
      if ($("#{{ options_form.force_background.id_for_label }}").prop('checked')) {
        $("#{{ options_form.use_roi_bck.id_for_label }}").prop('checked', true);
        $("#{{ options_form.use_side_bck.id_for_label }}").prop('checked', false);
      }
    }
  };
</script>
{% endblock %}

{% block summary %}
<div class='section_divider'>Configuring the automated reduction</div>
<div class='narrow_section'>
Instrument team members can use this page to generate a new automated reduction script.
<ul>
<li>Click the submit button to create a new automated reduction script.</li>
<li>Click the reset to populate the form with default values.</li>
<li>The <i>reduce_{{ instrument }}.py</i> will automatically be overwritten once you click the submit button.</li>
</ul>
</div>

<div style="margin-bottom:60px;">
<p>List of parameters for {{ instrument }} reduction template: (hover over bold-face text for explanation)</p>
<form action="" method="POST">{% csrf_token %}


  <table class="property_table  fixed_table" >

    <tr>
        <td style="font-size: 18px; text-decoration: underline;"><strong>Options for all peaks</strong></td>
    </tr>

    <tr class='tiny_input'>
        <td>
            {{ options_form.plot_in_2D }}
            <span title="Check the following box to see 2D plots on the monitor.
Loading the page for each run will take much longer when this option is turned on.">
                <strong>Show 2D plots</strong>
            </span>
        </td>
    </tr>

    <tr class='tiny_input'>
        <td>
            {{ options_form.use_const_q }}
            <strong>Use constant-Q binning</strong>
        </td>
    </tr>

    <tr class='tiny_input'>
        <td>
            <strong>Q step</strong>
            {{ options_form.q_step }}
        </td>
    </tr>

    <!-- Peak angle options -->
    <tr>
        <td>
            {{ options_form.use_sangle }}
            <span title="Check the following box if you want to use SANGLE,
otherwise DANGLE will be used."><strong>Use SANGLE</strong></span>
        </td>
    </tr>

    <!-- Automated ROI options -->
    <tr>
        <td>
            <div class='help_line'>
                Automated ROI: Once a peak ROI is chosen for each peak—whether automatically
                extracted from the metadata in the events file or manually specified using the fields below—the
                application will fit a peak shape to refine the ROI boundaries.
            </div>
            {{ options_form.fit_peak_in_roi }}
            <strong>Automated ROI</strong>
        </td>
    </tr>

    <!-- Divider line -->
    <td><hr></td>

    <!-- Number of Peaks in the run -->
      <tr class='tiny_input'>
        <td>
            <span title="Number of peaks in the run"><strong>Peak count</strong></span>
            {{ options_form.peak_count }}
        </td>
    </tr>


    <!-- Divider line -->
    <td><hr></td>
    <tr>
        <td style="font-size: 18px; text-decoration: underline;"><strong>Peak # 1</strong></td>
    </tr>

    <!-- Force peak ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force peak ROI: ignore metadata <b>ROI1</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges
            </div>
            {{ options_form.force_peak }}
            <span></span><strong>Force peak ROI</strong></span>
            <label class='short_label' for='peak_min'>Pixel<sub>min</sub></label>
            {{ options_form.peak_min }}
            <label class='short_label' for='peak_max'>Pixel<sub>max</sub></label>
            {{ options_form.peak_max }}
        </td>
    </tr>

    <!-- Use background ROI options -->
    <tr>
        <td onclick="toggle_roi_bck('#{{ options_form.use_roi_bck.id_for_label }}');">
            <div class='help_line'>
                Use background: use metadata <b>ROI2</b> stored in the logs of the event file
                to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background
            </div>
            {{ options_form.use_roi_bck }}
            <span><strong>Use background</strong></span>
        </td>
    </tr>

    <!-- Force background ROI options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force background ROI: ignore metadata <b>ROI2</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background
            </div>
            <span onclick="toggle_roi_bck('#{{ options_form.force_background.id_for_label }}');">
                {{ options_form.force_background }}
            </span>
            <span><strong>Force background ROI</strong></span>
            <label class='short_label' for='bck_min'>Bck<sub>min</sub></label>
            {{ options_form.bck_min }}
            <label class='short_label'  for='bck_max'>Bck<sub>max</sub></label>
            {{ options_form.bck_max }}
        </td>
    </tr>

    <!-- Side background options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Use side background: ignore metadata <b>ROI2</b>
                and instead choose a region on each side of the reflected peak to estimate the background.
            </div>
            <span onclick="toggle_roi_bck('#{{ options_form.use_side_bck.id_for_label }}');">
                {{ options_form.use_side_bck }}
            </span>
            <span>
                <strong>Use side background</strong>
            </span>
            <label class='long_label' for='bck_width'>Pixels on each side</label> {{ options_form.bck_width }}
        </td>
    </tr>

    <!-- Force vertical ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force vertical ROI: ignore metadata <b>ROI1</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)
            </div>
            {{ options_form.force_low_res }}
            <span>
                <strong>Force vertical ROI</strong></span>
            <label class='short_label' for='low_res_min'>Pixel<sub>min</sub></label>
            {{ options_form.low_res_min }}
            <label class='short_label' for='low_res_max'>Pixel<sub>max</sub></label>
            {{ options_form.low_res_max }}
        </td>
    </tr>


    <!-- Divider line -->
    <td><hr></td>
    <tr>
        <td style="font-size: 18px; text-decoration: underline;" title="Peak 2 options ignored if Peak count is 1">
            <strong>Peak # 2</strong>
        </td>
    </tr>

    <!-- Force peak ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force peak ROI: ignore metadata <b>ROI3</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges
            </div>
            {{ options_form.force_peak_s2 }}
            <span><strong>Force peak ROI</strong></span>
            <label class='short_label' for='peak_min_s2'>Pixel<sub>min</sub></label>
            {{ options_form.peak_min_s2 }}
            <label class='short_label' for='peak_max_s2'>Pixel<sub>max</sub></label>
            {{ options_form.peak_max_s2 }}
        </td>
    </tr>

    <!-- Use background ROI options -->
    <tr>
        <td onclick="toggle_roi_bck('#{{ options_form.use_roi_bck_s2.id_for_label }}');">
            <div class='help_line'>
                Use background: use metadata <b>ROI4</b> stored in the logs of the event file
                to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background
            </div>
            {{ options_form.use_roi_bck_s2 }}
            <span><strong>Use background</strong></span>
        </td>
    </tr>

    <!-- Force background ROI options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force background ROI: ignore metadata <b>ROI4</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background
            </div>
            <span onclick="toggle_roi_bck('#{{ options_form.force_background_s2.id_for_label }}');">
                {{ options_form.force_background_s2 }}
            </span>
            <span><strong>Force background ROI</strong></span>
            <label class='short_label' for='bck_min_s2'>Bck<sub>min</sub></label>
            {{ options_form.bck_min_s2 }}
            <label class='short_label' for='bck_max_s2'>Bck<sub>max</sub></label>
            {{ options_form.bck_max_s2 }}
        </td>
    </tr>

    <!-- Side background options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Use side background: ignore metadata <b>ROI4</b>
                and instead choose a region on each side of the reflected peak to estimate the background.
            </div>
            <span onclick="toggle_roi_bck('#{{ options_form.use_side_bck_s2.id_for_label }}');">
                {{ options_form.use_side_bck_s2 }}
            </span>
            <span>
                <strong>Use side background</strong>
            </span>
            <label class='long_label' for='bck_width_s2'>Pixels on each side</label> {{ options_form.bck_width_s2 }}
        </td>
    </tr>

    <!-- Force vertical ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force vertical ROI: ignore metadata <b>ROI5</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)
            </div>
            {{ options_form.force_low_res_s2 }}
            <span>
                <strong>Force vertical ROI</strong></span>
            <label class='short_label' for='low_res_min_s2'>Pixel<sub>min</sub></label>
            {{ options_form.low_res_min_s2 }}
            <label class='short_label' for='low_res_max_s2'>Pixel<sub>max</sub></label>
            {{ options_form.low_res_max_s2 }}
        </td>
    </tr>


    <!-- Divider line -->
    <td><hr></td>
    <tr>
        <td style="font-size: 18px; text-decoration: underline;" title="Peak 3 options ignored if Peak count smaller than 3">
            <strong>Peak # 3</strong>
        </td>
    </tr>


    <!-- Force peak ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force peak ROI: ignore metadata <b>ROI5</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges
            </div>
            {{ options_form.force_peak_s3 }}
            <span><strong>Force peak ROI</strong></span>
            <label class='short_label' for='peak_min_s3'>Pixel<sub>min</sub></label>
            {{ options_form.peak_min_s3 }}
            <label class='short_label' for='peak_max_s3'>Pixel<sub>max</sub></label>
            {{ options_form.peak_max_s3 }}
        </td>
    </tr>

    <!-- Use background ROI options -->
    <tr>
        <td onclick="toggle_roi_bck('#{{ options_form.use_roi_bck_s3.id_for_label }}');">
            <div class='help_line'>
                Use background: use metadata <b>ROI6</b> stored in the logs of the event file
                to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background
            </div>
            {{ options_form.use_roi_bck_s3 }}
            <span><strong>Use background</strong></span>
        </td>
    </tr>

    <!-- Force background ROI options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force background ROI: ignore metadata <b>ROI6</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background
            </div>
            <span onclick="toggle_roi_bck('#{{ options_form.force_background_s3.id_for_label }}');">
                {{ options_form.force_background_s3 }}
            </span>
            <span><strong>Force background ROI</strong></span>
            <label class='short_label' for='bck_min_s3'>Bck<sub>min</sub></label>
            {{ options_form.bck_min_s3 }}
            <label class='short_label' for='bck_max_s3'>Bck<sub>max</sub></label>
            {{ options_form.bck_max_s3 }}
        </td>
    </tr>

    <!-- Side background options -->
    <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Use side background: ignore metadata <b>ROI6</b>
                and instead choose a region on each side of the reflected peak to estimate the background.
            </div>

            <span onclick="toggle_roi_bck('#{{ options_form.use_side_bck_s3.id_for_label }}');">
                {{ options_form.use_side_bck_s3 }}
            </span>
            <span>
                <strong>Use side background</strong>
            </span>
            <label class='long_label' for='bck_width_s3'>Pixels on each side</label> {{ options_form.bck_width_s3 }}
        </td>
    </tr>

    <!-- Force vertical ROI options -->
      <tr class='tiny_input'>
        <td>
            <div class='help_line'>
                Force vertical ROI: ignore metadata <b>ROI3</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)
            </div>
            {{ options_form.force_low_res_s3 }}
            <span>
                <strong>Force vertical ROI</strong></span>
            <label class='short_label' for='low_res_min_s3'>Pixel<sub>min</sub></label>
            {{ options_form.low_res_min_s3 }}
            <label class='short_label' for='low_res_max_s3'>Pixel<sub>max</sub></label>
            {{ options_form.low_res_max_s3 }}
        </td>
    </tr>


  </table>

<p>
<span style="float: right; margin-left:15px;" >
<!--
- id="submit_button": id of the input element. Used as a hook in JavaScript or CSS to apply styles or behaviors.
- title="Click to create new reduction script": Tooltip that appears when the user hovers over the input element.
- type="submit": Means this input field is a submit button for a form. When pressed, it will submit the form data.
- name="button_choice": name of the input element to be used when collecting the form data.
- value="submit": Text that appears on the button.
-->
<input id="submit_button" title="Click to create new reduction script" type="submit" name="button_choice" value="submit"/>
<input id="reset_button" title="Click to populate the form with default values" type="submit" name="button_choice" value="reset"/>
</span>
</form>
</div>
<p>
{% endblock %}

{% block content %}
Latest post-processing log entries for {{ instrument }}:<br><br>

<span id='last_action'>
{% if action_list and action_list|length > 0 %}{{ action_list.0.info }} on {{ action_list.0.time }}
{% else %}No recent changes{% endif %}
</span>
<br>

{% endblock %}
