@charset "UTF-8";
/* CSS Document */

/*
html {
	background: rgb(69,72,77); 
	height:100%;
    background:-moz-linear-gradient(top, #45484d, #000) no-repeat #000;
    background:-webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000)) no-repeat #000;
}
*/

.message_table {}

.message_table td, th {
    font-size: 16px;
    line-height: 17px;
    
    vertical-align: top;
    padding-left: 25px;
}

.message_table th {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

html {
	background-color:#fff;
}

h1 {
	color:#F00;
}
header {
	display:block;
	margin-left:80px;
	margin-right:auto;
	margin-top:80px;
}

.banner_title {
	height:70px;
	background-image:url('/static/SNSportalLogo.png');
	background-repeat:no-repeat;
	text-align:left;
	padding-left:250px;
	padding-top:30px;
	font-size:30px;
	color:#5B4729;
	font-weight: bold;
}

footer {
	color:#000;
	padding-bottom:40px;
}

body {
	margin: 0 auto;
	text-align:left;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	width: 850px;

}

p {
	text-align:left;
	padding:7px;
}

a:link {color:#930; text-decoration:none;}      /* unvisited link */
a:visited {color:#6C6; text-decoration:none;}  /* visited link */
a:hover {color:#F90; text-decoration:none;}  /* mouse over link */
a:active {color:#F90; text-decoration:none;}  /* selected link */

#headerLogoLeft {
	padding-right:50px;
}

#headerLogoRight {
	padding-left:50px;
}

#content {
	margin-left:0 auto;
	margin-right:0 auto;
}

.point {
	margin-left:70px;	
}

.bullet {
	position:absolute;
	padding-left:15px;
}

.instructions {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	background:#FFF;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:10px;
    width: 838px;
	color:#5B4729;
	
	/*background: #e5e5c7;*/
    border: 2px solid #cdc0b0;
   /* color: #666666; */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	margin-top:20px;
	margin-bottom: 10px;
}

#left {
    height:100%;
	width: 500px;
	float:left;
}

.clear { clear: both; } /* force the div to calculate the correct height */

#col1 {
	float:left;
	width:33%;;
	height:100%;
	position:relative;
}

#col2 {
	float:left;
	width:33%;
}

#col3 {
	float:left;
	width:33%;
}

#main {
	float:left;
	padding-left: 30px;
	padding-top: 20px;
}


#mainContent {
	padding-top:20px
}

#javaMenu {
	display:none;	
}

#pasteHelp {
	color:#FFF;	
}

.keyBox {
	display:block;
	text-align:left;
	width: 480px;
	margin-left:auto;
	margin-right:auto;
	background:#FFF;
	padding:20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	margin-bottom: 10px;
	border-bottom-color:#5B4729;
	border-bottom-style:solid 2px;
}

.article {
	padding: 20px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}


#slideButton {
	height:40px;
	width:120px;
	font-size:16px;
}
#launch {
	display:block;
	width:188px;
	height:60px;
	text-indent:-9999px;
}
#launch a {
	display:block;
	width:100%;
	height:100%;
	background: url(../images/buttons/downloadButton.png) no-repeat top left;
	outline:none;
}
#launch a:hover {
	background-position:0 -60px;
}

#getFile {
	display:block;
	width:188px;
	height:60px;
	text-indent:-9999px;
}
#getFile a {
	display:block;
	width:100%;
	height:100%;
	background: url(../images/buttons/getKeyButton.png) no-repeat top left;
	outline:none;
}
#getFile a:hover {
	background-position:0 -60px;
}

#start {
	display:block;
	width:188px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
}
#start a {
	display:block;
	width:100%;
	height:100%;
	background: url(../images/buttons/startButton.png) no-repeat top left;
	outline:none;
}
#start a:hover {
	background-position:0 -60px;
}
#infoText {
	padding:5px;
}
#details {
	padding-left:25px;
	padding-top:5px;
	color:#5B4729;
}
.article {
	padding: 20px;
	width: 550px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	display:block;
	/*
	border: 2px solid #cdc0b0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	*/
}

.info {
	color:#000;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid #cdc0b0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom:10px;
	padding:3px;
	margin-top:10px;
}

.options {
	padding-top:10px;
}

.pageTitlebar

{

	margin: 0px 0px 0px 0px;

    padding: 0px 4px 4px 4px;

    position: relative;

    background: #e5e5c7;

    border: 1px solid #cdc0b0;

    border: inset 1px solid #e5e5c7;

    color: #666666;

    line-height: 1.2em;

    font-size: 1.2em;

    font-weight: 700;

    vertical-align: middle;
	
	text-align:left;
	vertical-align:middle

    /* Rounded Borders */

    -webkit-border-radius: .5em .5em .5em .5em;

    -moz-border-radius: .5em .5em .5em .5em;

    border-radius: .5em .5em .5em .5em;

}
/*
 **************************************
 * Footer
 **************************************
 */
.ornlFooter
{
	margin: 18px auto;
	padding: 6px 0px 6px 0px;
	border-top: 2px solid #CDC0B0;
	border-bottom: 2px solid #CDC0B0;
	font-size: 12px;
	min-height: 60px;
	text-align: center;
	width: 850px;
}

.ornlFooter .links
{
	margin: 0px 0px 10px 0px;
	font-size: .9em;
	width: 60%;
}

.ornlFooter .links ul
{
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.ornlFooter .links li
{
	display: inline;
	color: #006633;
}

.ornlFooter .links li span
{
	padding: 0px 8px 0px 8px;
}

.ornlFooter .links ul li a:link, .page .footer .links ul li a:visited
{
	text-decoration: none;
	color: #006633;
}

.ornlFooter .links ul li a:hover, .page .footer .links ul li a:active
{
	text-decoration: underline;
	color: #006633;
}

.ornlFooter .logos
{
	margin: 0 auto;
	width: 20%;
}