@charset "UTF-8";
/* CSS Document */

.summary {
	padding-left: 5px;	
}

.breadcrumbs
{
	padding-left: 5px;
	padding-bottom: 12px;
	padding-top:2px;
	margin-top: 5px;
	border-top: 1px solid #CDC0B0;
	font-size:12px;
	color: #5e5e5e;
}

.summary_plots
{
	height:110px;
	padding:0;
}

.summary_plots #runs_per_hour
{
	float:left;
	width:400px;
	height:100px;
	position:relative;
}

.summary_plots #errors_per_hour
{
	float:right;
	width:400px;
	height:100px;
	position:relative;
}

#tooltip {
    border: 1px solid #CDC0B0;
    padding: 2px;
    background-color: #eeeeee;
	opacity: 1.0;
}

html {
	background-color:#fff;
}

header {
	display:block;
	margin-left:0px;
	margin-right:auto;
	margin-top:5px;
}

.banner_title {
	height:50px;
	background-image:url('/static/sns_logo_111x75.png');
	background-repeat:no-repeat;
	text-align:left;
	padding-left:180px;
	padding-top:25px;
	font-size:24px;
	color:#5B4729;
	font-weight: bold;
}

body {
	margin: 0 auto;
	text-align:left;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size:12px;
	width: 850px;
    color:#5B4729;
}

p {
	text-align:left;
}

a:link {color:#0077cc; text-decoration:none;}      /* unvisited link */
a:visited {color:#0077cc; text-decoration:none;}  /* visited link */
a:hover {color:#0077cc; text-decoration:underline;}  /* mouse over link */
a:active {color:#0077cc; text-decoration:none;}  /* selected link */

img {border: 0;}

#content {
	margin-left:0 auto;
	margin-right:0 auto;
}

.box {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	background:#FFF;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:10px;
    width: 838px;
	color:#5B4729;
	
    border: 1px solid #cdc0b0;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	margin-top:20px;
	margin-bottom: 10px;
}

#details {
	padding-left:25px;
	padding-top:5px;
	color:#5B4729;
	font-size:12px;
	
}

.disclamer {
	font-size:10px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.user_info {
	float:right;
	margin-top:5px;	
}

.user_alert {
	cursor: pointer;
	float:right;
	display:none;
	background: #FFEA7D;color: black;
	padding: 0px;
	margin-top:5px;
	border: 1px solid #96740B;
	margin-right:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
}
.user_alert #alert_message {
	padding: 5px;
	text-align: center;
}

.user_alert #click_me {
	font-size: 8px;
}
/*
 **************************************
 * Footer
 **************************************
 */
.ornlFooter
{
	margin: 18px auto;
	padding: 6px 0px 6px 0px;
	border-top: 1px solid #CDC0B0;
	/* border-bottom: 1px solid #CDC0B0; */
	font-size: 12px;
	min-height: 60px;
	text-align: center;
	width: 850px;
}

.ornlFooter .links
{
	margin: 0px 0px 10px 0px;
	font-size: .9em;
	width: 60%;
}

.ornlFooter .links ul
{
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.ornlFooter .links li
{
	display: inline;
	color: #006633;
}

.ornlFooter .links li span
{
	padding: 0px 8px 0px 8px;
}

.ornlFooter a:link {color:#006633; text-decoration:none;}      /* unvisited link */
.ornlFooter a:visited {color:#006633; text-decoration:none;}  /* visited link */
.ornlFooter a:hover {color:#006633; text-decoration:underline;}  /* mouse over link */
.ornlFooter a:active {color:#006633; text-decoration:none;}  /* selected link */

.ornlFooter .links ul li a:link, .page .footer .links ul li a:visited
{
	text-decoration: none;
	color: #006633;
}

.ornlFooter .links ul li a:hover, .page .footer .links ul li a:active
{
	text-decoration: underline;
	color: #006633;
}

.ornlFooter .logos
{
	margin: 0 auto;
	width: 20%;
}