@charset "UTF-8";
/* CSS FOR TABLES */
.table_title {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.info_display td { padding-left: 0px; padding-right: 10px;}

.dashboard_table {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    font-size:11px;
}

.message_table {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	font-size:11px;
}

.fixed_table {
	table-layout: fixed;
	width:530px;
}

.fixed_table input { min-width: 400px; }
.fixed_table td, th { overflow:hidden; }

table { border-collapse: collapse; border-spacing: 0; }

td, th {
    line-height: 13px;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

th {
    vertical-align: bottom;
}

td.error {
	color: #9d301d;
}

th {
	min-width: 150px;
	max-width: 150px;
    text-align: left;
    font-weight: bold;
}

thead th,
tfoot td {
    padding: 2px 2px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.message_table tr:nth-child(even) {background: #f5ede3;}

.error_row {
    background: #f8bdb7;
}

.highlight_row {
    background: #f8e7b3;
}

thead th a:link, thead th a:visited { color: #5B4729; display: block; }


.property_table {
    font-size:inherit;
    margin-left: 10px;
}
.property_table input { width:300px; }
.property_table th { width: 100px; vertical-align:middle;}
.short_input input { min-width:80px; width:150px; }
.icon_input { min-width:10px; width:20px; }