{% extends "base.html" %}

{% block title %}User Login{% endblock %}
{% block banner %}User Login{% endblock %}

{% block header %}
  <script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      height:140,
      modal: true,
      buttons: {
        "Delete all items": function() {
          $( this ).dialog( "close" );
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
  </script>
{% endblock %}

{% block summary %}

<p>This monitoring site allows ORNL users and staff to view the status
of running experiments at SNS.
Users on the ORNL network can use this site with limited functionality.
All other users must log in.</p>

<p>Please log in using your ORNL credentials:</p>

<div>
    <form action="#" method="post">
 		{% csrf_token %}
        <input type="text" name="username" placeholder="username">

        <input type="password" name="password" placeholder="password">

        <input type="submit" value="log in">

    </form>
</div>

<div class="disclamer">
NOTICE: This is a Federal computer system and is the property of the United
States Government. It is for authorized use only. Users (authorized or
unauthorized) have no explicit or implicit expectation of privacy.

Any or all uses of this system and all files on this system may be intercepted,
monitored, recorded, copied, audited, inspected, and disclosed to authorized
site, Department of Energy, and law enforcement personnel, as well as
authorized officials of other agencies, both domestic and foreign. By using
this system, the user consents to such interception, monitoring, recording,
copying, auditing, inspection, and disclosure at the discretion of authorized
site or Department of Energy personnel.

Unauthorized or improper use of this system may result in administrative
disciplinary action and civil and criminal penalties. By continuing to use this
system you indicate your awareness of and consent to these terms and conditions
of use. LOG OFF IMMEDIATELY if you do not agree to the conditions stated in
this warning.
</div>

{% endblock %}

{% block nocontent %}{% endblock %}
