name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [next, qa, main]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        environments: >-
          test
          docs
        activate-environment: test
    - name: Test with pytest
      run: pixi run unittests-with-coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Build documentation
      run: |
        cd docs && pixi run -e docs make html
